body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  margin-top:20px;
}

.github-profile-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight: bold;
}
.github-profile-company {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large; 
}

.github-profile-card{
  margin-bottom: 25px;
  
}

.github-profile-pic{
  width: 75px;
}

.star {
	display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}

.star-match-container{
  border-radius: 2px;
  border-color: black;
  border: 2px;
  border-style: dotted;
  
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

.star-match-timer{
  font-size: large;
  font-weight: bold;
}